<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 创建第一位参赛者：duke（杂技师）；
	spring容器加载bean时，会使用默认的构造器实例化duke；
	spring使用反射来创建bean -->
	<!-- <bean id="duke" class="com.mfzhang.service.impl.Juggler"></bean> -->
	
	<!-- 构造器注入 -->
	<bean id="duke" class="com.mfzhang.service.impl.Juggler">
		<constructor-arg value="15"></constructor-arg>
	</bean>
	
	<!-- 十四行诗 -->
	<bean id="sonnet29" class="com.mfzhang.service.impl.Sonnet29"></bean>
	
	<!-- 会朗诵诗歌的杂技师 -->
	<bean id="poemticJuggler" class="com.mfzhang.service.impl.PoemticJuggler">
		<constructor-arg value="15"></constructor-arg>
		<constructor-arg ref="sonnet29"></constructor-arg>
	</bean>
	
	<!-- 工厂方法创建bean, factory-method: 指定静态方法 -->
	<bean id="stage" class="com.mfzhang.api.bean.Stage" factory-method="getInstance"></bean>
	
	<!-- bean作用域：默认singleton(单例)、prototype -->
	<bean id="ticket" class="com.mfzhang.api.bean.Ticket" scope="prototype"></bean>
	
	<!-- 测试factory-method和作用域scope共用 -->
	<bean id="stageScope" class="com.mfzhang.api.bean.Stage" factory-method="getInstance" scope="prototype"></bean>
	
	<!-- 默认singleton(单例) -->
	<bean id="ticketScope" class="com.mfzhang.api.bean.Ticket"></bean>
	
	<!-- bean的初始化方法、销毁方法 -->
	<bean id="auditorium" class="com.mfzhang.api.bean.Auditorium" 
	         init-method="turnOnLights" 
	         destroy-method="turnOffLights"></bean>
	         
	<!-- bean的初始化和销毁的另一种方式 -->
	<bean id="testInitAndDestoryBean" class="com.mfzhang.api.bean.TestInitAndDestoryBean"></bean>

</beans>